*       text    eol=lf
*.exe   binary
*.png   binary
*.jpg   binary
*.jpeg  binary
*.ico   binary
*.icns  binary
*.eot   binary
*.otf   binary
*.ttf   binary
*.woff  binary
*.woff2 binary
*.node binary
*.dll binary
*.so binary
*.dylib binary
*.pdf binary
*.zip binary
*.gz binary
*.tar binary
*.rar binary
*.7z binary
*.psd binary
*.ai binary
*.mp3 binary
*.wav binary
*.mp4 binary
*.avi binary
*.mov binary
*.mpg binary
*.mpeg binary
*.flv binary
*.mkv binary
*.webm binary
*.swf binary
*.flac binary
*.m4a binary
*.aac binary
*.aiff binary
*.wma binary
*.ogg binary
